.body {
	font-family: PT Sans, PT Sans Narrow, sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	font-weight: bold;
}
.features-name {
	font-size: 30px;
	line-height: 42px;
	color:#f7f4f1;
}
.index-content-title {
	font-size: 30px;
	line-height: 42px;
	color:#000000;
}